@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-lines{
  background-image: url('../public/images/bg-lines.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.motion-rotate-left{
  animation: motion1 5s linear infinite;
}
@keyframes motion1 {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.motion-translate{
  animation: motion2 5s linear infinite;
}
@keyframes motion2 {
  0%{transform: translateY(0px);}
  50%{transform: translateY(15px);}
  100%{transform: translateY(0px);}
}